    <div id="news" class="section news">
      <div class="container">
        <!-- <div class="news">
          <div class="news-img">
            <img class="news-picture" loading="lazy" src="app/assets/news/sales.jpg" />
          </div>
          <div class="news-info">
            <div class="news-date">27 октября 2021</div>
            <div class="news-title">Щедрые осенние скидки до 44% в Столице!</div>
            <div class="news-description">
              <p>Осень пришла, а это значит у нас новый каталог! Более 120 видов напитков по ЩЕДРЫМ ценам, порадуйте себя и близких. Акция действует до 15 ноября 2021 года в магазинах «Столица».</p>
            </div>
            <a href="/pravila" class="news-show">Подробнее</a>
          </div>
        </div> -->
        <div class="news">
          <div class="news-img">
            <img class="news-picture news-img" loading="lazy" src="app/assets/news/new-program.jpg" />
          </div>
          <div class="news-info">
            <div class="news-date">27 октября 2021</div>
            <div class="news-title">Новая программа лояльности в магазинах «Столица».</div>
            <div class="news-description">
                <p>Действие новой программы лояльности в магазинах «Столица» с 26 ноября 2021 года. С условиями использования карт можно ознакомиться по <a onclick="rules.style.display=''">ссылке</a>. Бонусы от «Столицы» — это выгодно!</p>
            </div>
            <!-- <a href="/pravila" class="news-show">Подробнее</a> -->
          </div>
        </div>
          <div class="news">
              <div class="news-img">
                  <img class="news-picture news-img" loading="lazy" src="app/assets/news/refer.jpg" />
              </div>
              <div class="news-info">
                  <div class="news-date">27 октября 2021</div>
                  <div class="news-title">Приглашайте друзей и получайте бонусы!</div>
                  <div class="news-description">
                      <p>Приглашайте друзей в программу лояльности и получайте целую 1 000 бонусов! Количество друзей неограниченно! Акция действует по 31 декабря 2021 года. <a href="#" onclick="rules_ref.style.display=''">Подробные условия акции</a>.</p>
                  </div>
                  <!-- <a href="/pravila" class="news-show">Подробнее</a> -->
              </div>
          </div>
          <div class="news">
              <div class="news-img">
                  <img class="news-picture news-img" loading="lazy" src="app/assets/news/sale1.jpg" />
              </div>
              <div class="news-info">
                  <div class="news-date">19 ноября 2021</div>
                  <div class="news-title">Армянские плодово-ягодные вина «Шахназарян» по соблазнительной цене!</div>
                  <div class="news-description">
                      <p>С 3 ноября по 30 ноября успейте приобрести армянские плодово-ягодные вина по цене 319,97 рублей!</p>
                      <p>В акции участвуют:</p>
                            <ul>
                                <li>Вино фрукт. «Вишневое вино», 0,75 л, п/сл,</li>
                                <li>Вино фрукт. «Гранатовое вино», 0,75 л, п/сл,</li>
                                <li>Вино фрукт. «Ежевичное вино», 0,75 л, п/сл,</li>
                                <li>Вино фрукт. «Малиновое вино», 0,75 л, п/сл.</li>
                            </ul>
                      <p>Срок проведения акции: 03.11.2021 - 30.11.2021 года.</p>
                      <p>Количество товаров ограничено.</p>
                      <p>Акция проходит на территории магазинов, использующих товарный знак "Столица" По лицензионному договору.</p>
                  </div>
              </div>
          </div>
          <div class="news">
              <div class="news-img">
                  <img class="news-picture news-img" loading="lazy" src="app/assets/news/sale2.jpg" />
              </div>
              <div class="news-info">
                  <div class="news-date">19 ноября 2021</div>
                  <div class="news-title">Акция на линейку фруктовых вин «Финберри».</div>
                  <div class="news-description">
                      <p>Фруктовые вина «Финберри» со скидкой 35% уже в магазинах «Столица»</p>
                      <p>В акции участвуют:</p>
                      <ul>
                          <li>Вино фрукт. «Вишня», 0,5 л, п/сл,</li>
                          <li>Вино фрукт. «Клюква», 0,5 л, п/сл,</li>
                          <li>Вино фрукт. «Клубника», 0,5 л, п/сл,</li>
                      </ul>
                      <p>Срок проведения акции: 18.11.2021 - 31.12.2021 года.</p>
                      <p>Количество товаров ограничено.</p>
                      <p>Акция проходит на территории магазинов, использующих товарный знак "Столица" По лицензионному договору.</p>
                  </div>
              </div>
          </div>
          <div class="news">
              <div class="news-img">
                  <img class="news-picture news-img" loading="lazy" src="app/assets/news/sale3.jpg" />
              </div>
              <div class="news-info">
                  <div class="news-date">19 ноября 2021</div>
                  <div class="news-title">Линейка фруктовых вин «Лимберг» со скидкой 35% в магазинах «Столица».</div>
                  <div class="news-description">
                      <p>Во всех магазинах «Столица» скидки 35% на фруктовые вина линейки «Лимберг».</p>
                      <ul>
                          <li>Вино фрукт. «Лесные ягоды», 0,5 л, п/сл,</li>
                          <li>Вино фрукт. «Персик», 0,5 л, п/сл,</li>
                          <li>Вино фрукт. «Вишня», 0,5 л, п/сл,</li>
                      </ul>
                      <p>Срок проведения акции: 18.11.2021 - 31.12.2021 года.</p>
                      <p>Количество товаров ограничено.</p>
                      <p>Акция проходит на территории магазинов, использующих товарный знак "Столица" По лицензионному договору.</p>
                  </div>
              </div>
          </div>
      </div>
    </div>