    <div id="reg_success" class="section">
      <div class="reg_success-top">
        <div class="container">
          <div class="reg_success-top-block">
            <img src="app/assets/success-reg.png">
            <p>Ваша ВИРТУАЛЬНАЯ карта готова к использованию! Для использования перейдите в <a href="#" data-link-section="wallet">КОШЕЛЕК</a> и предьявите QR-код продавцу.</p>
            <p> ПЛАСТИКОВАЯ карта больше не нужна!</p>
            <p> Если вам не удобно пользоваться виртуальной картой, вы можете получить пластиковую карту в <a href="#" data-link-section="stores">любом магазине</a>. </p>
          </div>
        </div>
      </div>
      <div class="reg_success-bottom">
        <div class="container">
          <button class="button" style="width: 100%;" data-link-section="wallet">Перейти в кошелек</button>
        </div>
      </div>
    </div>