    <div id="wallet" class="section wallet">
      <div class="wallet__top">
        <div class="container">
          <div id="cardType"></div>
          <div id="qrcode" style="display: none;"></div>
          <div style="display: none">Ваш персональный код:</div>
          <div style="display: none">
            <span id="cardNumber" class="neutral">Загрузка..</span>
          </div>
          <button id="downloadCard" style="display: none">Скачать QR код</button>
          <h5 class="balance-text">
            <i class="material-icons neutral" style="vertical-align: middle;color: #28a960;">account_balance_wallet</i>
            <span class="balance-text-text" id="cardInfo">БАЛАНС</span>
            <span class="balance-text-hr"></span>
            <div class="balance-text-result">
              <span id="bonuses" style="font-weight: bold; color: #4062b7;" class="load">Загрузка..</span>
              <span id="currencyType">бонусов</span>
            </div>
          </h5>
        </div>
      </div>
      <div class="wallet__bottom">
        <div id="cardDataDiscount" style="display: none">
          <div>С бонусами выгоднее!</div>
          <div>Переходи на бонусы,</div>
          <div>получай скидки до 50% и кэшбек до 15%!</div>
          <a href="#" data-link-section="personal_update">Хочу бонусную карту!</a>
        </div>
        <div id="cardDataBonus" style="display: none">
          <span>Пока мы не запустили бонусную программу,<br> Ваша скидка <span id="discountValue"></span>. <br>О начале действия бонусной программы мы сообщим дополнительно и Вы сможете поспользоваться Вашими бонусами.</span>
        </div>
        <div id="cardDataBonusPreffered" style="display: none">
          <span>Бонусная карта, переход на дисконтную(заглушка).</span>
        </div>
        <p id="changeDiscountSystem" style="display: none; font-size: 18px;color: #616161;margin-top: 40px">
          <span>Завтра Ваша карта станет <span id="changeDiscountSystemValue"></span>.</span>
        </p>
        <button id="transactions-details-button" class="details button-primary">Открыть детализацию</button>
        <div id="transactions" style="display: none; margin: 0 16px;">
          <div class="container">
            <!-- Детализация -->
          </div>
        </div>
      </div>
    </div>