/* ==|========================
   Pages/Adult
   =========================== */

#adult {
    display: flex;
    align-items: center;
    height: 100vh !important;
    padding: 0px !important;
    position: relative;
}

