/* ==|========================
   Pages/Authorization
   =========================== */

@media(max-width: 440px){

    #authorization {
        display: flex;
        align-items: center;
        padding: 0px !important;
    }
}