/* CSS files add styling rules to your content */

.newPage {
    position: fixed;
    overflow: hidden;
}

.oldPage {
    position: fixed;
    overflow: hidden;
    left: 0;
}

input[type="date"] {
    appearance: none;
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.button:disabled {
    background-color: #95e0ff;
    border-color: rgb(92 196 239 / 10%);
}

.info {
    margin-top: 64px;
    padding: 16px;
    border: 1px solid #33c3f0;
    border-radius: 4px;
}

input.fail {
    border: 1px solid #e91e63;
}

.card_block {
    display: flex;
    justify-content: space-between;
}

.good {
    color: #28a960;
    font-weight: 600;
}
.bad {
    color: #9E4E52;
    font-weight: 600;
}
.neutral {
    color: #9e9e9e;
}

.checkbox-label {
    display: grid;
    grid-template-columns: 10% 90%;
}
.checkbox-label-input {
    margin-top: 6px;
    justify-self: center;
}
.checkbox-label-content {
    text-align: left;
    font-weight: normal;
}

.gridstone {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
    &>hr {
        margin: 0;
    }
}

.main-logo {
    margin: 15% 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #28a960;
    position: absolute;
    top: 14px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.reg_bottom {
    margin-top: 50px;
}

.system {
    margin-bottom: 24px;
}

.text-center {
    text-align: center;
}

.hero-heading {
    margin-top: 2.5rem;

    &.text-center {
        font-weight: 600;
        margin-top: 3rem;
    }
}

@media(max-width: 440px){
    body {
        height: 100%;
        background: none;
    }
    .system {
        margin-bottom: 14px;
    }

    .hero-heading {
        color: #666;
        font-weight: 600;
    }

    .system_title {
        color: #666;
        font-weight: 600;
    }
}