/* CSS files add styling rules to your content */
html {
  scroll-behavior: smooth;
}

body {
  /* user-select: none; */
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.main-app-space {
  background: url(~assets/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

input[type="date"] {
  appearance: none;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.button:disabled {
  background-color: #95e0ff;
  border-color: rgb(92 196 239 / 10%);
}

details[open] span {
  animation: spoiler 1s;
}
@keyframes spoiler {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
details > summary {
  list-style: none;
}
details > summary.special {
  color: #1EAEDB;
}
details[open] > summary.special {
  display: none;
}

.info {
  margin-top: 64px;
  padding: 16px;
  border: 1px solid #33c3f0;
  border-radius: 4px;
}

#top-nav {
  top: 0;
  position: sticky;
  z-index: 3;
  height: 50px;
  border-bottom: 1px #efefef ridge;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: white;
}
#top-nav-back {
  font-size: 40px;
}
#top-nav-title {
  font-weight: bold;
  grid-area: 1/2;
  margin-bottom: 0;
}
#top-nav-menu {
  font-size: 32px;
  grid-area: 1/3/1/3;
}
#topnav-nav-menu {
  font-size: 32px;
  grid-area: 1/3/1/3;
}

input.fail {
  border: 1px solid #e91e63;
}

#loader {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: white;
  background: rgba(0,0,0,.8);
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 4;
  z-index: 3;
  text-align: center;
  background-color: rgba(0,0,0,.8);
  font-size: 20px;
}

#popupCont {
  margin: 8px;
  padding: 16px;
  position: relative;
  background-color: white;
  border-radius: 8px;
}

#popupClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 8px;
}

.section {
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.personal-photo {
  width: 50%;
  max-width: 192px;
  border-radius: 50%;
}

#wallet>.container {
  background-size: 486px;
  background-position: center;
  background-position-y: 26px;
  background-repeat: no-repeat;
}

#qrcode_container {
  width:128px;
  height:128px;
  display: inline-block;
  background: #FFF;
  padding: 4px;
}

summary.details {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}
details[open]>summary.details {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: url(~assets/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.overlay-content .bottom-nav-element {
  border-bottom: 1px solid #fff;
  color: #4062b7 !important;
}

.overlay-content {
  position: relative;
  text-align: center;
}

.overlay div {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #4062b7 !important;
  display: block;
  transition: 0.3s;
}

/*.overlay div:hover,*/
/*.overlay div:focus {*/
/*  color: #f1f1f1;*/
/*}*/

.overlay .closebtn {
  text-decoration: none;
  color: #818181;
  font-size: 34px;
  height: 100%;
  display: flex;
  align-items: center;
}

#reg_firstname, #reg_middlename, #reg_lastname {
  text-transform: capitalize;
}

.card_block {
  display: flex;
  justify-content: space-between;
}

.reg_city {
  width: 100%;
}

@media screen and (max-height: 450px) {
  .overlay div {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#bottom-nav {
  align-items: flex-end;
  bottom: 0;
  position: sticky;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  background-color: white;
  z-index: 2;
}
#bottom-nav > div {
  text-align: center;
  padding: 10px 0;
}
#bottom-nav > .current-section {
  color: #28a960;
}
.bottom-nav-element.main > i {
    font-size: 4rem;
}
.bottom-nav-element.main > div {
    font-weight: bold;
}
.important {
    border-color: crimson;
    animation-name: important-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes important-animation {
    0% {color: red;}
    50% {color: rgb(255, 41, 83);}
    75% {color: rgb(255, 0, 55);}
    100% {color: red;}
}
.important-back {
    animation-name: important-back-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes important-back-animation {
    0% {background-color: red;}
    50% {background-color: rgb(255, 41, 83);}
    75% {background-color: rgb(255, 0, 55);}
    100% {background-color: red;}
}

.news {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news-img {
  width: 40%;
  display: flex;
}

.news-info {
  width: 60%;
  padding-left: 20px;
  box-sizing: border-box;
}

.news-img img {
  width: 100%;
}
.news-date {
  color: #757575;
}
.news-title {
  font-weight: bold;
}

.payment {
  text-align: left;
  margin-bottom: 32px;
  width: 100%;
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 3rem;
}
.payment-row {
  width: 20%;
  margin: 0 auto;
}
.payment details {
  width: 20%;
  margin: 0 auto;
}
details .payment-row {
  width: 100%;
}
.payment-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.payment-details {
  display: grid;
  grid-gap: 2vw;
  text-align: center;
}
.payment-charge {
  grid-template-columns: 1fr 1fr;
}
.payment-not-charge {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.good {
  color: #28a960;
  font-weight: 600;
}
.bad {
  color: #9E4E52;
  font-weight: 600;
}
.neutral {
  color: #9e9e9e;
}

.checkbox-label {
  display: grid;
  grid-template-columns: 10% 90%;
}
.checkbox-label-input {
  margin-top: 6px;
  justify-self: center;
}
.checkbox-label-content {
  text-align: left;
  font-weight: normal;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.terms {
  position: fixed;
  display: grid;
  grid-template-rows: 4fr 1fr;
  top: 0;
  z-index: 4;
  background: white;
  height: 100vh;
  width: 100vw;
}
.terms > iframe {
  width: 100%;
  height: 85vh;
}
.commands {
  justify-self: center;
  align-items: center;
  display: flex;
}

.terms-of-use {
  padding: 16px;
}
.terms-of-use h3, .terms-of-use h5, .terms-of-use #terms_commands {
  text-align: center;
}
.terms-of-use ul {
  list-style-type: none;
}

#feedback {
  display: grid;
  position: fixed;
  top: 0;
  z-index: 3;
  background: white;
  height: 100vh;
  width: 100vw;
}
#feedback > .closebtn {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 29px;
  position: fixed;
  right: 134px;
  top: 61px;
}
#open-feedback-cont {
  position: fixed;
  bottom: 5%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}
#open-feedback {
  position: relative;
  text-align: center;
  font-size: 4rem;
  color: #33C3F0;
  right: 0px;
  grid-column-start: 4;

  animation-name: open-feedback-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes open-feedback-animation {
  0% {color: #33C3F0; bottom: 48px;}
  50% {color: black; bottom: 72px;}
  100% {color: #33C3F0; bottom: 48px;}
}

#drawing {
  background: rgb(249,222,96);
  background: linear-gradient(
    224deg
    , rgba(249,222,96,1) 0%, rgba(248,222,97,1) 25%, rgba(245,158,51,1) 100%);
  overflow-x: hidden;
  /* text-shadow: 0px 1px 1px white; */
}
#drawing-description {
  background: url(~assets/gift_red_left.png) left,
    url(~assets/gift_green_right.png) right bottom,
    url(~assets/ribbon_left.png) top left,
    url(~assets/ribbon_right.png) top right;
  background-repeat: no-repeat;
  background-size: 93px, 65px, 80px, 80px;
}
#drawing-registration {
  background: url(~assets/gift_green_left.png), url(~assets/gift_red_left.png), url(~assets/gift_red_right.png);
  background-position: 15% 95%, 0% 95%, 95% 95%;
  background-repeat: no-repeat;
  background-size: 74px, 89px, 68px;
}
#drawing-registration-complete {
  background: url(~assets/gift_green_left.png),
    url(~assets/gift_red_left.png),
    url(~assets/gift_red_right.png),
    url(~assets/ribbon_left.png),
    url(~assets/ribbon_right.png);
  background-position: 15% 100%, 0% 93%, 100% 90%, 10% 0%, 90% 0%;
  background-repeat: no-repeat;
  background-size: 74px, 89px, 68px, 70px, 70px;
}
#drawing .button.button-primary {
  /* background-color: #ff803f;
  border-color: #ff6a00; */
}
.drawing-description-section-round {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  /* background-color: #ff6a00; */
  background-color: #33C3F0;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  margin: auto;
}
.drawing-description-section-title {
  font-weight: bold;
  font-size: 1.5rem;
  /* color: #ff6a00; */
  color: #33C3F0;
}

.load {
  animation-name: load-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes load-animation {
  0% {color: red;}
  50% {color: transparent;}
  100% {color: red;}
}

.gridstone {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.gridstone > hr {
  margin: 0;
}

.dashboardMain {
  display: flex;
  justify-content: space-between;
}

.dashboardMenu {
  width: 15%;
  color: #33c3f0 !important;
  text-align: start;
  border-right: 1px #efefef ridge;
}

.dashboardMenuItem {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuActive .menuName {
  font-weight: 900;
}

.menuName:hover {
  text-decoration: underline;
}

.dashboardContainer {
  width: 96%;
  margin: 0 auto;
  padding: 12px 0px;
}

.dashboardMenuContent {
  width: 85%;
  text-align: start;
  padding: 0px 40px;
}

.dashboardMenuContentBlockHead {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #efefef ridge;
  padding-bottom: 6px;
}

.dashboardMenuContentBlockData .content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.dashboardMenuContentBlockData .content-item:nth-child(2n+1) {
  background: #87CEEB;
}

.dashboardMenuContentTitle {
  font-weight: 600;
  margin-bottom: 12px;
  display: block;
  font-size: 16px;
}

.dashboardMenuContentBlockDataPagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.dashboardMenuContentBlockDataPagination span {
  background: #87ceeb;
  margin: 0px 12px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}


.page-active {
  background: #000 !important;
  color: #fff;
}

.content-item.transact {
  flex-wrap: wrap;
}

.transactDetails {
  width: 100%;
  background: #DCDCDC;
  padding: 8px 10px;
}


.dashboardMenuContentBlockHead .content-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dashboardMenuContentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}

.dashboardAccount {
  width: 85%;
  padding: 0px 40px;
}


#updateAccount {
  background: #33c3f0;
  border: none;
  color: #fff;
}

.dashboardAccountContent {
  width: 35%;
}

.dashboardAccountContentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.dashboardAccountContentItem input {
  margin: 0px;
  width: 65%;
}

.dashboardAccountBtns {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.content-item.account {
  cursor: pointer;
  padding: 3px 0px;
}

.content-item.account:hover {
  background: #dcdcdc;
}

#back {
  margin-right: 14px;
}

.dashboardMenuContentSearch {
  display: flex;
  justify-content: space-between;
  width: 32%;
}

.dashboardUpdateSuccess {
  position: absolute;
  bottom: -20px;
  font-size: 13px;
  color: green;
}

.dashboardMenuContentExport {
  position: absolute;
  right: 33%;
  top: 0px;
}

.dashboardMenuContentExport a {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.menuName {
  margin-left: 10px;
}

.reports {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.report-item {
  border: 2px dashed #33c3f0;
  margin-right: 16px;
  padding: 10px 16px;
}

.report-item a {
  text-decoration: none;
  color: #000;
}

.report-item a:hover {
  color: #33c3f0;
  text-decoration: underline;
}

.accountTransactions {
  width: 40%;
  display: flex;
  align-items: center;
  padding: 4px 0px;
  font-size: 13px;
  flex-wrap: wrap;
}

.accountTransactions:nth-child(2n+1) {
  background: #87CEEB;
}

.dashboardMenu ul {
  position: sticky;
  top: 55px;
}


.dashboardAccountTransactionsTitle {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  margin-top: 14px;
}

.report-item-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 3px 0px;
}

.report-item-page:nth-child(2n+1) {
  background: #87CEEB;
}

.dashboardMenuContentDateSort {
  margin-right: 133px;
}

.report-item span:hover {
  color: #33c3f0;
  cursor: pointer;
}

#drawing-winners-btn {
  display: none;
  font-size: 1.3rem;
  color: #1EAEDB;
  border: none;
  text-align: center;
  text-transform: none;
  font-weight: 400;
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
  height: 33px;
}

.drawing-winners-block{
  display: none;
}

.drawing-winners-block-show{
  display: block !important;
  padding-top: 44px;
}

.drawing-winners-block ul {
  list-style: none;
}

/*.drawing-winners-block li {*/
/*  border-bottom: 1px solid #33c3f0;*/
/*  margin: 0px;*/
/*  padding: 4px 0px;*/
/*  font-size: 14px;*/
/*}*/

.drawing-winners-duration {
  margin-bottom: 18px;
}

.drawing-winners-duration p {
  font-weight: 600;
}

.drawing-winners-duration div {
  border-bottom: 1px solid #33c3f0;
}

.drawing-winners p{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.drawing-winners-block span {
  padding-right: 4px;
  font-size: 13px;
}

.popup-drawing {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-drawing-block {
  width: 25%;
  padding: 20px 25px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  background: linear-gradient( 224deg , rgb(249, 222, 96) 0%, rgb(248, 222, 97) 25%, rgb(245, 158, 51) 100%);
  overflow-x: hidden;
  z-index: 2;
  position: relative;

}

/*.popup-drawing-block-bg {*/
/*  background: url(~assets/gift_red_left.png) left, url(~assets/gift_green_right.png) right bottom, url(~assets/ribbon_left.png) top left, url(~assets/ribbon_right.png) top right;*/
/*  background-repeat: no-repeat;*/
/*  background-size: 93px, 65px, 80px, 80px;*/
/*}*/

.popup-drawing-block-top span {
  text-transform: uppercase;
  font-weight: 900;
  color: #e04324;
  font-size: 24px;
  position: relative;
  z-index: 2;
}

.popup-drawing-block-info-title {
  color: #e04324;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}

.popup-drawing-block-info p {
  color: #000;
  margin-bottom: 10px;
  font-size: 14px;
}

.popup-drawing-block-info-preview {
  color: #e04324 !important;
  text-transform: uppercase;
  font-size: 18px !important;
}

.popup-drawing-block-info {
  margin: 30px 0px;
  z-index: 2;
  position: relative;
}

.popup-drawing-block-btns button {
  margin: 0px;
  margin-bottom: 0px;
  width: 100%;
  color: #fff;
  background: #e04324;
  margin-bottom: 16px;
}

.popup-drawing-block-btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}

.popup-drawing-block-btn-first {
  font-size: 20px !important;
  font-weight: 900;
  text-decoration: underline;
  height: 50px;
  border-radius: 24px;
}

.popup-drawing-block-btn-last {
  font-size: 20px !important;
  font-weight: 400;
  text-decoration: underline;
  height: 50px;
  border-radius: 24px;
}

.remove-popup-drawing {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.drawing-description-section-title {
  color: #E04324;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.drawing-description-section {
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

#drawing-description p {
  position: relative;
  z-index: 2;
}

.button-reg {
  background: #E04324 !important;
  border-color: #DE4D21 !important;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 22px;
  height: auto !important;
}



.popup-drawing-block .drawing-decoration-item1 {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #FFAA01;
  top: 36%;
  left: -70px;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item2 {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #FFAA01;
  top: 40%;
  right: -39px;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item3 {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #FFAA01;
  top: 31%;
  right: -58px;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item4 {
  position: absolute;
  width: 90%;
  height: 234px;
  border-radius: 50%;
  background: transparent;
  top: -20%;
  right: 5%;
  z-index: 2;
  border: 2px solid #e04324;
}

.popup-drawing-block .drawing-decoration-item5 {
  position: absolute;
  width: 100%;
  height: 248px;
  border-radius: 50%;
  background: #fff;
  top: -20%;
  right: 0%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item6 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FFAA01;
  top: 10%;
  right: -55px;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item7 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FFAA01;
  top: 66%;
  left: -10px;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item8 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFAA01;
  top: 77%;
  left: 50%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item9 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  top: 15%;
  right: 11%;
  z-index: 1;
  opacity: 0.4;
}

.popup-drawing-block .drawing-decoration-item10 {
  box-shadow: 0px 0px 10px 4px #fff;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  top: 16%;
  right: 16%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item11 {
  box-shadow: 0px 0px 4px 4px #fff;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  top: 18%;
  right: 11%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item12 {
  box-shadow: 0px 0px 6px 10px #fff;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  top: 21%;
  right: 10%;
  z-index: 1;
  opacity: 0.8;
}

.popup-drawing-block .drawing-decoration-item13 {
  box-shadow: 0px 0px 3px 8px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 36%;
  left: 10%;
  z-index: 1;
  opacity: 0.8;
}

.popup-drawing-block .drawing-decoration-item14 {
  box-shadow: 0px 0px 1px 3px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 40%;
  left: 13%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item15 {
  box-shadow: 0px 0px 1px 2px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 46%;
  left: 2%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item16 {
  box-shadow: 0px 0px 17px 19px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 35%;
  left: 35%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item17 {
  box-shadow: 0px 0px 17px 19px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 34%;
  left: 68%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item18 {
  box-shadow: 0px 0px 1px 2px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 46%;
  left: 35%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item19 {
  box-shadow: 0px 0px 1px 2px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 44%;
  left: 38%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item20 {
  box-shadow: 0px 0px 12px 15px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 44%;
  left: 49%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item21 {
  box-shadow: 0px 0px 3px 6px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 72%;
  left: 19%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item22 {
  box-shadow: 0px 0px 1px 2px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 83%;
  left: 35%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item23 {
  box-shadow: 0px 0px 1px 2px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 85%;
  left: 25%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item24 {
  box-shadow: 0px 0px 3px 4px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 82%;
  left: 24%;
  z-index: 1;
}

.popup-drawing-block .drawing-decoration-item25 {
  box-shadow: 0px 0px 1px 2px #fff;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: #fff;
  top: 82%;
  right: 20%;
  z-index: 1;
}

.popup-drawing-block-top {
  width: 80%;
  margin: 0 auto;
}

.drawing-winners-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-leave {
  background: #fff;
}

#adult {
  align-items: center;
  padding: 0px !important;
  position: relative;
  height: 100vh;
}

#intro {
  align-items: center;
  padding: 0px !important;
  position: relative;
  height: 100vh;
}

#pre-registration {
  display: flex;
  align-items: center;
  padding: 0px !important;
  position: relative;
}

.main-logo {
  margin: 15% 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #28a960;
  position: absolute;
  top: 14px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.reg_bottom {
  margin-top: 50px;
}

.tab_h_active {
  background: #fff;
}

.system_tabs-head-item:first-child {
  border-radius: 0px 7px 0px 0px;
}

.system_tabs-head-item:last-child {
  border-radius: 7px 0px 0px 0px;
}

.system_tabs-head-item-change:first-child {
  border-radius: 0px 7px 0px 0px;
}

.system_tabs-head-item-change:last-child {
  border-radius: 7px 0px 0px 0px;
}

.system_tabs-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.system_tabs-head-item {
  width: 50%;
  text-align: left;
  padding: 0px;
}

.system_tabs-head-item-change.tab_h_active {
  background: #f6f6f6 !important;
}

.system_tabs-content-item-change.tab_c_active {
  background: #f6f6f6 !important;
}

.system_tabs-head-item-change {
  width: 50%;
  text-align: left;
  padding: 0px;
  height: 40px;
  display: flex;
  align-items: center;
}

.personal-update-system {
  background: #fff;
  padding: 16px 0px;
}

.system_tabs-content-item {
  padding: 14px 0px;
}

.system_tabs-content-item-change {
  padding: 14px 0px;
}

.system_tabs-content {
  background: #fff;
}

/*.system_tabs-head-item {*/
/*  display: none;*/
/*}*/

.system_tabs-content-item {
  display: none;
}

.system_tabs-content-item-change {
  display: none;
}

/*.tab_h_active {*/
/*  display: block !important;*/
/*}*/

.tab_c_active {
  display: block !important;
  text-align: left;
  padding-left: 10px;
}

.system_tabs-head-item label {
  width: 100%;
}

.system_tabs-content-item span {
  font-size: 13px;
}

.system_tabs-head-item-change label {
  width: 100%;
}

.system_tabs-content-item-change span {
  font-size: 13px;
}

.system {
  margin-bottom: 24px;
}

.personal__top {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}

.personal__top-avatar {
  background: #f1f1f1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#personal_name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 21px;
  display: flex;
}

.personal__top-birthdate {
  width: 100%;
  margin: 10px 0px;
  position: relative;
}

.personal__top-birthdate hr {
  margin: 0px;
  height: 1px;
}

.personal__hr-one {
  width: 46%;
  position: absolute;
  top: 50%;
  left: 0px;
}

.personal__hr-two {
  width: 46%;
  position: absolute;
  top: 50%;
  right: 0px;
}

.personal__bottom-level-title {
  font-weight: 600;
}

.personal__bottom-level {
  position: relative;
}

.level {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 13%;
  color: #fff;
  text-transform: uppercase;
}

.button-white {
  background: #fff;
}

.personal__bottom-event {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal__bottom-event img {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.hero-heading.text-center {
  font-weight: 600;
  margin-top: 3rem;
}

.wallet__top {
  background: #fff;
}

.balance-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.balance-text-hr {
  width: 30px;
  height: 1px;
  background: #000;
  margin: 0px 10px;
}

#qrcode {
  padding: 30px 0px;
}

.wallet__bottom {
  padding-top: 1rem;
}

#stores iframe {
  width: 100%;
  height: 100%;
}

.store_block {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
  padding: 16px 0px 16px 15px;
  position: relative;
  cursor: pointer;
}

.show_store {
  position: absolute;
  right: 2%;
  top: 37%;
  color: #999;
  font-weight: 600;
}

.store_block-shedule {
  color: #999;
  font-size: 13px;
}

.store_map {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store_map-block {
  background: #fff;
  border-radius: 8px;
  z-index: 999;
}

.store_map-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(13, 14, 13, 0.7);
  z-index: 998;
}

#map {
  width: 600px;
  height: 400px
}

#map_city {
  background: #f1f1f1;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 0px;
  border-radius: 8px 8px 0px 0px;
}

#map_info {
  padding: 18px 26px;
}

.map_info-item-key {
  font-weight: 600;
  padding-right: 10px;
}

.map_info-item {
  padding: 3px 0px;
}



.reg_success-top {
  background: #fff;
}

.reg_success-top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.reg_success-bottom {
  margin-top: 10rem;
}

.reg_success-bottom button {
  background: #fff;
}

#alerts {
  height: 100%;
  padding: 0px !important;
}

.alerts_block-item {
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14rem;
}

.toggle > * {
  transform: translateZ(0) scale(1, 1);
}

.switcher > * {
  cursor: pointer;
}

.switcher {
  width: 64px;
  height: 30px;
  background: #D0D0D0;
  border-radius: 75px;
  display: flex;
  align-items: center;
}
.switcher .toggle--handler {
  background: #E9E9E9;
  width: 19px;
  height: 19px;
  display: block;
  border-radius: 60px;
  margin: 7.5px;
  position: relative;
  z-index: 2;
  transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.switcher .toggle--handler:after {
  content: "";
  position: absolute;
  border-radius: 60px;
  background: linear-gradient(to bottom, #468EFF, #2B68FF);
  opacity: 0;
  transition: all 200ms;
}
.toggle {
  margin-bottom: 0px;
}
.switcher .toggle--handler:before {
  content: "";
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 60px;
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path d="M13.414 11.96l6.546-6.546L18.545 4 12 10.545 5.455 4 4.04 5.414l6.546 6.546-6.89 6.89 1.414 1.413 6.89-6.89 6.89 6.89 1.414-1.414-6.89-6.89z" fill="#FFF"/></g></svg>');
  transition: all 200ms;
  transform: translate(-50%, -50%) rotate(180deg);
}

.switcher input {
  position: absolute;
  left: -999em;
}
.switcher input:checked + .toggle .toggle--handler {
  transform: translateX(28px);
  background: #28A960;
  border: 3px solid #fff;
  width: 16px;
  height: 16px;
}
.switcher input:checked + .toggle .toggle--handler:after {
  opacity: 1;
}
.switcher input:checked + .toggle .toggle--handler:before {
  background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>assets/icons/cross copy</title><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M0 0h24v24H0z"/><path fill="#FFF" d="M8.293 16.707l.707.707.707-.707 11-11-1.414-1.414-11 11h1.414l-4-4-1.414 1.414z"/></g></svg>');
  z-index: 5;
  transform: translate(-50%, -50%) rotate(0deg);
}

#top-nav-msg {
  font-size: 20px;
}

.topnav-top {
  background: #fff;
  height: 40px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px !important;
}

.topnav-top-title {
  font-size: 1.5rem;
  color: #222;
  font-weight: bold;
}

.reg_inp.required {
  position: relative;
}

.reg_inp.required::after {
  content: "*";
  position: absolute;
  top: 7px;
  right: -12px;
}

.reg_inp {
  position: relative;
  width: 97%;
}

.required-desc {
  font-size: 12px;
  font-weight: 600;
  text-align: left !important;
  display: flex;
  padding: 14px 0px 0px 24px;
}

.hero-heading {
  margin-top: 2.5rem;
}

#cardType {
  font-size: 22px;
  padding-top: 2rem;
}

#cardDataDiscount {
  flex-direction: column;
}

#cardDataDiscount a {
  padding: 2rem 0;
  color: #28a960;
  font-size: 18px;
  font-weight: 600;
}

#cardDataBonus {
  max-width: 90%;
  justify-content: center;
  margin: 0 auto;
}

#cardDataBonus span {
  padding-bottom: 2rem;
}

#cardDataBonusPreffered {
  max-width: 90%;
  justify-content: center;
  margin: 0 auto;
}

#cardDataBonusPreffered span {
  padding-bottom: 2rem;
}

.system_tabs-head-item-change label {
  text-transform: uppercase;
}

.update__pass {
  position: relative;
}

.update__pass i {
  position: absolute;
  right: 0px;
  top: 14%;
}

.transactionsOpen {
  margin: 20px 0px !important;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.system_tabs-head-item-change label {
  text-transform: uppercase;
  margin: 0px;
  height: 40px !important;
  display: flex !important;
  align-items: center;
  margin-left: 5px !important;
}

.system_tabs-head-item label {
  margin: 0px;
  height: 40px !important;
  display: flex !important;
  align-items: center;
  margin-left: 5px !important;
}

#registration {
  padding: 2rem 0rem 0rem 0rem;
}

.subscribe_info {
  height: 40px;
  display: flex !important;
  align-items: center;
}

.reg_success-top-block img {
  padding-bottom: 2rem;
}

.topnav-bottom {
  text-align: center;
  padding-top: 16rem !important;
  color: #4062b7 !important;
}

.topnav-bottom-feedback {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reg_success-top-block p {
  color: #616161;
}

#set_plastic {
  background: #F1F1F1;
}

.set_plastic-top span {
  font-weight: 600;
  color: #5F5F5F;
  font-size: 16px;
}

.set_plastic-top p {
  font-size: 14px;
  color: #666;
  margin: 0px;
}

.set_plastic-top {
  text-align: left !important;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.set_plastic-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#scanerQR {
  position: relative;
  height: 200px;
  background: #fff;
  width: 100%;
  color: #666;
  text-transform: none;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.scan_border1 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  left: 1%;
  top: 5%;
}

.scan_border2 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  right: 1%;
  top: 5%;
}

.scan_border3 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  right: 1%;
  bottom: 5%;
}

.scan_border4 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  left: 1%;
  bottom: 5%;
}

.scan_text {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 20%;
  line-height: 24px;
}

.scan_focus {
  height: 27px;
  width: 28px;
  margin-top: 37px;
}

.scan_focus-block {
  position: relative;
  width: 100%;
  height: 100%;
}

.scan_focus-item1 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  left: 0px;
  top: 0px;
}

.scan_focus-item2 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 2px solid #D3D3D3;
  border-top: 2px solid #D3D3D3;
  right: 0px;
  top: 0px;
}

.scan_focus-item3 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-right: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  right: 0px;
  bottom: 0px;
}

.scan_focus-item4 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
  left: 0px;
  bottom: 0px;
}

.scan_focus-item5 {
  position: absolute;
  width: 60%;
  height: 2px;
  background: #d3d3d3;
  top: 48%;
  left: 20%;
}

.payment-amount {
  color: #666;
  font-weight: 600;
}

.payment-position {
  font-size: 13px;
  color: #666;
  font-weight: 600;
  padding-bottom: 5px;
}

.payment-position-amount span {
  font-weight: 600;
  font-size: 13px;
}

.payment-row.payment-details.payment-header.payment-position-amount {
  padding-top: 5px;
  border-top: 1px solid #D5D5D5;
}

#overlay-news {
  position: fixed;
  top: 0;
  width: 100vw;;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 3;
  overflow: auto;
}
#overlay-news-cont {
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 3px;
  background-color: white;
  overflow: auto;
  margin: 10vh 16px;
  height: 80vh;
}
#overlay-news-image,.news-image {
  width: 100%
}
#overlay-news-details, .news-details {
  padding: 8px;
  display: grid;
}
#overlay-news-details-date, .news-details-date {
  margin: 0;
  color: #757575;
}
.news-cont {
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 3px;
  background-color: white;
  overflow: hidden;
  margin: 2rem 0;
}

@media(max-width: 440px){
  .popup-drawing-block {
    width: 100%;
    height: 100%;
  }
  .popup-drawing-block-btns button {
    width: 100%;
    margin-bottom: 10px;
  }
  .button-reg {
    height: 50px !important;
    border-radius: 28px;
  }

  #top-nav {
    z-index: 3;
  }

  #drawing-description {
    z-index: 2;
    position: relative;
  }

  .drawing-decoration-item1 {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #FFAA01;
    top: 36%;
    left: -70px;
    z-index: 1;
  }

  .drawing-decoration-item2 {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #FFAA01;
    top: 40%;
    right: -39px;
    z-index: 1;
  }

  .drawing-decoration-item3 {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #FFAA01;
    top: 31%;
    right: -58px;
    z-index: 1;
  }

  .drawing-decoration-item4 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFAA01;
    top: 4%;
    right: 50%;
    z-index: 1;
  }

  .drawing-decoration-item5 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFAA01;
    top: 4%;
    right: 27%;
    z-index: 1;
  }

  .drawing-decoration-item6 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFAA01;
    top: 10%;
    right: -55px;
    z-index: 1;
  }

  .drawing-decoration-item7 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFAA01;
    top: 66%;
    left: -10px;
    z-index: 1;
  }

  .drawing-decoration-item8 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFAA01;
    top: 77%;
    left: 50%;
    z-index: 1;
  }

  .drawing-decoration-item9 {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    top: 15%;
    right: 11%;
    z-index: 1;
    opacity: 0.4;
  }

  .drawing-decoration-item10 {
    box-shadow: 0px 0px 10px 4px #fff;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    top: 16%;
    right: 16%;
    z-index: 1;
  }

  .drawing-decoration-item11 {
    box-shadow: 0px 0px 4px 4px #fff;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    top: 18%;
    right: 11%;
    z-index: 1;
  }

  .drawing-decoration-item12 {
    box-shadow: 0px 0px 6px 10px #fff;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    top: 21%;
    right: 10%;
    z-index: 1;
    opacity: 0.8;
  }

  .drawing-decoration-item13 {
    box-shadow: 0px 0px 3px 8px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 36%;
    left: 10%;
    z-index: 1;
    opacity: 0.8;
  }

  .drawing-decoration-item14 {
    box-shadow: 0px 0px 1px 3px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 40%;
    left: 13%;
    z-index: 1;
  }

  .drawing-decoration-item15 {
    box-shadow: 0px 0px 1px 2px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 46%;
    left: 2%;
    z-index: 1;
  }

  .drawing-decoration-item16 {
    box-shadow: 0px 0px 17px 19px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 35%;
    left: 35%;
    z-index: 1;
  }

  .drawing-decoration-item17 {
    box-shadow: 0px 0px 17px 19px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 34%;
    left: 68%;
    z-index: 1;
  }

  .drawing-decoration-item18 {
    box-shadow: 0px 0px 1px 2px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 46%;
    left: 35%;
    z-index: 1;
  }

  .drawing-decoration-item19 {
    box-shadow: 0px 0px 1px 2px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 44%;
    left: 38%;
    z-index: 1;
  }

  .drawing-decoration-item20 {
    box-shadow: 0px 0px 12px 15px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 44%;
    left: 49%;
    z-index: 1;
  }

  .drawing-decoration-item21 {
    box-shadow: 0px 0px 3px 6px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 72%;
    left: 19%;
    z-index: 1;
  }

  .drawing-decoration-item22 {
    box-shadow: 0px 0px 1px 2px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 83%;
    left: 35%;
    z-index: 1;
  }

  .drawing-decoration-item23 {
    box-shadow: 0px 0px 1px 2px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 85%;
    left: 25%;
    z-index: 1;
  }

  .drawing-decoration-item24 {
    box-shadow: 0px 0px 3px 4px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 82%;
    left: 24%;
    z-index: 1;
  }

  .drawing-decoration-item25 {
    box-shadow: 0px 0px 1px 2px #fff;
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: #fff;
    top: 82%;
    right: 20%;
    z-index: 1;
  }

  .drawing-description-section-content {
    font-weight: 600;
  }


  .overlay {
    z-index: 4;
  }

  .popup-drawing-block-btn-first {
    font-size: 16px !important;
  }
  .popup-drawing-block-btn-last {
    font-size: 16px !important;
    padding: 0px 10px;
  }

  .popup-drawing-block {
    padding: 10px 25px;
  }
  .popup-drawing-block-top {
    width: 95%;
  }

  .popup-drawing-block .drawing-decoration-item4 {
    height: 253px;
  }

  .popup-drawing-block .drawing-decoration-item5 {
    height: 272px;
  }
  body {
    height: 100%;
  }

  .personal__top {
    padding-bottom: 3rem;
  }

  .personal__top-avatar {
    margin-top: 20px;
  }

  .personal__bottom-level-title {
    font-weight: 600;
  }

  .personal__bottom-event {
    margin-top: 5rem;
  }

  .personal__hr-one {
    width: 30%;
  }

  .personal__hr-two {
    width: 30%;
  }

  .news {
    flex-wrap: wrap;
  }

  .news-img {
    width: 100%;
  }
  .news-info {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 12px 0px 12px;
  }

  .overlay-content .bottom-nav-element {
    font-size: 20px;
  }


  #authorization {
    display: flex;
    align-items: center;
    padding: 0px !important;
  }

  .alerts_block-item {
    padding: 10px 20px;
  }
  #feedback > .closebtn {
    right: 6px;
    top: 41px;
  }
  .subscribe_info {
    text-align: left;
    font-size: 13px;
    height: 40px;
    display: flex !important;
    align-items: center;
  }

  .system_tabs-head-item {
    width: 50%;
    text-align: left;
    padding: 0px;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .system_tabs-head-item label {
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    margin-left: 5px !important;
  }

  body {
    background: none;
  }

  .topnav-bottom span {
    font-size: 20px;
    padding-top: 10px;
  }

  .topnav-bottom {
    padding-top: 4rem !important;
  }

  .system_tabs-content-item span {
    font-size: 12px;
    color: #747474;
  }

  .system_tabs-head-item label {
    font-size: 13px;
  }

  .reg_confirm {
    font-size: 12px;
    color: #747474;
    margin-bottom: 14px;
  }

  .system {
    margin-bottom: 14px;
  }

  .reg_auth {
    font-size: 13px;
    color: #747474;
    margin: 1.5rem 0rem;
  }

  .hero-heading {
    color: #666;
    font-weight: 600;
  }

  .system_title {
    color: #666;
    font-weight: 600;
  }

  .reg_success-bottom {
    margin-top: 6rem;
    width: 100%;
  }

  .reg_success-top-block p {
    margin-bottom: 2rem;
    line-height: 19px;
  }

  #reg_success {
    position: relative;
  }

  .reg_success-top-block {
    padding: 20px 0px 0px 0px;
  }

  .plastic-add {
    width: 70%;
    margin: 0 auto;
  }

  .set_plastic-bottom input {
    margin: 24px 0px;
  }

  #scanerQR {
    margin: 0px !important;
  }

  .scan_border1 {
    left: 3%;
  }

  .scan_border2 {
    right: 3%;
  }

  .scan_border3 {
     right: 3%;
   }

  .scan_border4 {
    left: 3%;
  }

  .payment-row {
    width: 90%;
    margin: 0 auto;
  }

  .payment details {
    width: 90%;
    margin: 0 auto;
  }

  .store_block {
    padding: 16px;
    box-sizing: border-box;
  }

  .store_map-block {
    width: 305px;
  }

  #map {
    width: 305px;
    height: 200px;
  }

}