      <div id="authorization" class="section">
        <div class="container">
          <p class="hero-heading">Введите ваш номер телефона и пароль</p>
          <!-- Номер телефона -->
          <div class="popup"><span class="popup-text" id="auth_phone_popup">Введите номер телефона</span></div>
          <input class="u-full-width" type="text" placeholder="+7 (___) ___ ____" id="auth_phone" maxlength="17" autocomplete="off">
          <!-- Пароль -->
          <div class="popup"><span class="popup-text" id="auth_pass_popup">Введите пароль</span></div>
          <div class="auth__inp">
            <input class="u-full-width" type="password" placeholder="Пароль" id="auth_pass">
            <i id="auth_pass_toggle" class="material-icons">remove_red_eye</i>
          </div>
          <!-- Кнопки -->
          <p style="text-align: right;"><a style="font-size: 1.3rem;" href="#" data-link-section="reset">Забыли
              пароль?</a></p>
          <button class="button button-primary" style="width: 100%;" data-click="Conn.auth" id="auth_button">Войти</button>
          <p style="font-size: 1.3rem;">
            <span>У вас ещё нет аккунта?</span>
            <a href="#" data-link-section="pre_registration">Зарегистрироваться</a>
          </p>
        </div>
      </div>