    <div id="intro" class="section">
        <img class="main-logo" src="~assets/logo_256.png" alt="Столица">
        <div class="container">
          <button class="button button-primary" style="width: 100%;" data-link-section="authorization" id="auth_button">Войти</button>
          <div class="gridstone">
            <hr>
            <div>или</div>
            <hr>
          </div>
          <p style="font-size: 1.3rem;"><a href="#" data-link-section="pre_registration">Зарегистрироваться</a></p>
        </div>
      </div>