    <div id="set_plastic" class="section">
        <div class="container">
          <div class="set_plastic-top">
            <span>Привязать пластиковую карту</span>
            <p>Пластиковую карту можно получить в магазине.</p>
            <a href="#" data-link-section="stores">Найти магазин.</a>
          </div>
          <div class="set_plastic-bottom">
            <button id="scanerQR"><span class="scan_text">Просканируйте QR-код,<br> Что бы привязать карту</span>
              <div class="scan_focus">
                <div class="scan_focus-block"><span class="scan_focus-item1"></span><span class="scan_focus-item2"></span><span class="scan_focus-item3"></span><span class="scan_focus-item4"></span><span class="scan_focus-item5"></span></div>
              </div><span class="scan_border1"></span><span class="scan_border2"></span><span class="scan_border3"></span><span class="scan_border4"></span>
            </button>
            <input type="text" id="plasticNumber" placeholder="номер карты">
            <button id="set_card" class="button-primary plastic-add">Добавить</button>
          </div>
        </div>
      </div>