/* ==|========================
   Layouts/Footer
   =========================== */

footer {
    align-items: flex-end;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    background-color: white;
    z-index: 2;
    
    &>div {
        text-align: center;
        padding: 10px 0;
    }

    &>.current-section {
        color: #28a960;
    }
}
