/* ==|========================
   Layouts/Section
   =========================== */

.section {
    padding: 10rem 0 10rem;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.main-logo {
    background-image: url('~assets/logo_128.png');
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 18%;
}

.hero-heading {
    margin-top: 2.5rem;

    &.text-center {
        font-weight: 600;
        margin-top: 3rem;
    }
}

.gridstone {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
    &>hr {
        margin: 0;
    }
}

@media(max-width: 440px){
    .section {
        background: url(~assets/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .hero-heading {
        color: #666;
        font-weight: 600;
    }
}

@media screen and (min-width: 1200px) {
    .main-logo {
        background-image: url('~assets/logo_256.png');
        height: 128px;
    }
}
